/* Coolors Exported Palette - coolors.co/4bc19c-7c5371-3a3839-1e1d1e-f7f7f7 */

/* HSL */
$color1: hsla(161%, 49%, 53%, 1);
$color2: hsla(316%, 20%, 41%, 1);
$color3: hsla(330%, 2%, 22%, 1);
$color4: hsla(300%, 2%, 12%, 1);
$color5: hsla(0%, 0%, 97%, 1);

/* RGB */
$color1: rgba(75, 193, 156, 1);
$color2: rgba(124, 83, 113, 1);
$color3: rgba(58, 56, 57, 1);
$color4: rgba(30, 29, 30, 1);
$color5: rgba(247, 247, 247, 1);