/* The next few sections are the navbar */
.navbar{
  width: 100%;
  height: 10%;
  /* background: purple; */
  border-bottom: 0.5px solid grey;
  display: flex;
  justify-content: space-between;
}


/* logomenu is the box aroud the logo */
.logomenu{
  display: flex;
  /* border: dotted black; */
  margin-left: 10px;
}
.logoitem {
  height: 10vh;
  width: 20vh;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: blue; */
  font-size: 25px;
}

/* navmenu is the box around the navitems */
.navmenu {
  display: flex;
  /* border: dotted black */
}

.navitem{
  height: 10vh;
  width: 20vh;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid palevioletred; */
}

.navbar a,
.navbar a:visited {
  text-decoration: none;
  color: #1E1D1E;
}

.navbar a:hover {
  color: #3A3839;
  /* transform zooms in on the item */
  transform: scale(1.2);
  border-bottom: #1E1D1E solid 2px;
}